[Unit]
Description=Disable Spurious USB and PCIe Wakeup Events
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "for device in XHC GLAN; do grep -qE \"^$${device}\\b.*enabled\" /proc/acpi/wakeup && echo $${device} > /proc/acpi/wakeup || true; done"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
