[Unit]
Description=Disable Spurious USB and PCIe Wakeup Events
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/sh -c "for device in XHC GLAN; do if grep -qE \"^\${device}\\b.*enabled\" /proc/acpi/wakeup; then echo \$device > /proc/acpi/wakeup; fi; done"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
