[Unit]
Description=Disable Spurious USB and PCIe Wakeup Events
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c "for dev in XHC XHCI TXHC TBT0 TBT1 GLAN; do grep -qE \"^\$\$dev\\\\b.*enabled\" /proc/acpi/wakeup && echo \$\$dev > /proc/acpi/wakeup || true; done"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
