[Unit]
Description=Weekly Flatpak Automation Pipeline Timer

[Timer]
OnCalendar=Sat 10:00
Persistent=true
RandomizedDelaySec=6h

[Install]
WantedBy=timers.target
