[Unit]
Description=Automated System Flatpak Deployment Engine
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecCondition=/bin/sh -c 'nmcli -t -f CONNECTED,METERED device 2>/dev/null | grep -q "^yes:yes" && exit 1 || exit 0'
ExecStart=/usr/bin/flatpak update --system --noninteractive -y
ExecStartPost=/usr/bin/flatpak uninstall --system --unused --noninteractive -y
