[Unit]
Description=Initialize eBPF Sched-Ext Power Alignment
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/scx-power-switch
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
