# Drop CPU to 'balance_power' on battery to keep UI fluid while saving power
SUBSYSTEM=="power_supply", ATTR{online}=="0", RUN+="/bin/sh -c 'echo balance_power | tee /sys/devices/system/cpu/cpu*/cpufreq/energy_performance_preference'"

# Restore to 'balance_performance' on AC
SUBSYSTEM=="power_supply", ATTR{online}=="1", RUN+="/bin/sh -c 'echo balance_performance | tee /sys/devices/system/cpu/cpu*/cpufreq/energy_performance_preference'"