# Enable autosuspend selectively on USB storage (08) and hub (09) devices
ACTION=="add", SUBSYSTEM=="usb", ATTR{bDeviceClass}=="08"|ATTR{bDeviceClass}=="09", ATTR{power/control}="auto"
