# Trigger the scheduler switch script only when the power online state actively switches
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_ONLINE}=="?*", ACTION=="change", RUN+="/usr/libexec/scx-power-switch"
